
# https://github.com/docker/docker-py
docker

# https://github.com/google/python-fire
fire

# https://python-watchdog.readthedocs.io/en/stable/
watchdog

wheel

# https://github.com/aws/aws-sam-cli/issues/2899
# needed for win
pypiwin32